@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400;700&display=swap');
@import "tailwindcss";

.arabic {
  font-family: 'Noto Nastaliq Urdu', sans-serif;
  direction: rtl; /* Right-to-left for Arabic/Urdu */
  text-align: center;
  font-size: 2rem; /* Larger for readability */
  line-height: 2.5rem;
}

:root {
  --primary:rgb(100, 216, 50);
  --secondary: #2c9910;
  --tertiary: #b4f192;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100vw;
}
